@media only screen and (max-width: 768px) {
    .toggle {
        display: block;
    }

    ul {
        width: 100%;
        display: none;
    }

    ul li {
        display: block;
        text-align: center;
    }
    .active {
        display: block;

    }

}